


.cards{
    display: grid;
    grid-template-rows: auto;
    gap: 1.3rem;
    padding-bottom: 1.2rem;
   

    
}

@media (min-width:768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
       padding-bottom: 300px;
    }
}

@media (min-width:1208px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
       padding-bottom: 300px;
    }
}


