
.contenedor{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    padding: 40px 0;
}
@media (max-width:500 ) { 
    .contenedor{
      padding: 4px;
    }
}



.input{
    border-radius: 15px 0 0 15px;
    border: 0;
    outline: none;
}
.input:focus{
    border: 0;
}
.input:active{
    border: 0;
}

.btn{
    background-color: #588157;
    color:white ;
    padding: 4px;
    transition-duration: 500ms;
    border-radius: 0 15px 15px 0;
    border: 0;
}
.btn:hover{
    background-color: #3A5A40;
    /* transform: scale(1.2); */
}